@media (prefers-color-scheme: light) {
  :root {
    --text-50: hsl(253, 54%, 95%);
    --text-100: hsl(253, 53%, 90%);
    --text-200: hsl(253, 53%, 80%);
    --text-300: hsl(253, 53%, 70%);
    --text-400: hsl(253, 53%, 60%);
    --text-500: hsl(253, 53%, 50%);
    --text-600: hsl(253, 53%, 40%);
    --text-700: hsl(253, 53%, 30%);
    --text-800: hsl(253, 53%, 20%);
    --text-900: hsl(253, 53%, 10%);
    --text-950: hsl(253, 54%, 5%);

    --background-50: hsl(254, 52%, 95%);
    --background-100: hsl(253, 53%, 90%);
    --background-200: hsl(254, 53%, 80%);
    --background-300: hsl(254, 52%, 70%);
    --background-400: hsl(254, 52%, 60%);
    --background-500: hsl(254, 52%, 50%);
    --background-600: hsl(254, 52%, 40%);
    --background-700: hsl(254, 52%, 30%);
    --background-800: hsl(254, 53%, 20%);
    --background-900: hsl(253, 53%, 10%);
    --background-950: hsl(254, 52%, 5%);

    --primary-50: hsl(257, 54%, 95%);
    --primary-100: hsl(254, 57%, 90%);
    --primary-200: hsl(256, 57%, 80%);
    --primary-300: hsl(255, 56%, 70%);
    --primary-400: hsl(255, 56%, 60%);
    --primary-500: hsl(255, 56%, 50%);
    --primary-600: hsl(255, 56%, 40%);
    --primary-700: hsl(255, 56%, 30%);
    --primary-800: hsl(256, 57%, 20%);
    --primary-900: hsl(254, 57%, 10%);
    --primary-950: hsl(253, 54%, 5%);

    --secondary-50: hsl(258, 38%, 95%);
    --secondary-100: hsl(254, 41%, 90%);
    --secondary-200: hsl(253, 39%, 80%);
    --secondary-300: hsl(254, 40%, 70%);
    --secondary-400: hsl(254, 40%, 60%);
    --secondary-500: hsl(254, 40%, 50%);
    --secondary-600: hsl(254, 40%, 40%);
    --secondary-700: hsl(254, 40%, 30%);
    --secondary-800: hsl(253, 39%, 20%);
    --secondary-900: hsl(254, 41%, 10%);
    --secondary-950: hsl(252, 38%, 5%);

    --accent-50: hsl(255, 46%, 95%);
    --accent-100: hsl(254, 49%, 90%);
    --accent-200: hsl(252, 47%, 80%);
    --accent-300: hsl(253, 48%, 70%);
    --accent-400: hsl(253, 48%, 60%);
    --accent-500: hsl(253, 48%, 50%);
    --accent-600: hsl(253, 48%, 40%);
    --accent-700: hsl(253, 48%, 30%);
    --accent-800: hsl(252, 47%, 20%);
    --accent-900: hsl(254, 49%, 10%);
    --accent-950: hsl(250, 46%, 5%);

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: hsl(253, 54%, 5%);
    --text-100: hsl(253, 53%, 10%);
    --text-200: hsl(253, 53%, 20%);
    --text-300: hsl(253, 53%, 30%);
    --text-400: hsl(253, 53%, 40%);
    --text-500: hsl(253, 53%, 50%);
    --text-600: hsl(253, 53%, 60%);
    --text-700: hsl(253, 53%, 70%);
    --text-800: hsl(253, 53%, 80%);
    --text-900: hsl(253, 53%, 90%);
    --text-950: hsl(253, 54%, 95%);

    --background-50: hsl(254, 52%, 5%);
    --background-100: hsl(253, 53%, 10%);
    --background-200: hsl(254, 53%, 20%);
    --background-300: hsl(254, 52%, 30%);
    --background-400: hsl(254, 52%, 40%);
    --background-500: hsl(254, 52%, 50%);
    --background-600: hsl(254, 52%, 60%);
    --background-700: hsl(254, 52%, 70%);
    --background-800: hsl(254, 53%, 80%);
    --background-900: hsl(253, 53%, 90%);
    --background-950: hsl(254, 52%, 95%);

    --primary-50: hsl(253, 54%, 5%);
    --primary-100: hsl(254, 57%, 10%);
    --primary-200: hsl(256, 57%, 20%);
    --primary-300: hsl(255, 56%, 30%);
    --primary-400: hsl(255, 56%, 40%);
    --primary-500: hsl(255, 56%, 50%);
    --primary-600: hsl(255, 56%, 60%);
    --primary-700: hsl(255, 56%, 70%);
    --primary-800: hsl(256, 57%, 80%);
    --primary-900: hsl(254, 57%, 90%);
    --primary-950: hsl(257, 54%, 95%);

    --secondary-50: hsl(252, 38%, 5%);
    --secondary-100: hsl(254, 41%, 10%);
    --secondary-200: hsl(252, 39%, 20%);
    --secondary-300: hsl(253, 40%, 30%);
    --secondary-400: hsl(253, 40%, 40%);
    --secondary-500: hsl(253, 40%, 50%);
    --secondary-600: hsl(253, 40%, 60%);
    --secondary-700: hsl(253, 40%, 70%);
    --secondary-800: hsl(252, 39%, 80%);
    --secondary-900: hsl(254, 41%, 90%);
    --secondary-950: hsl(252, 38%, 95%);

    --accent-50: hsl(250, 46%, 5%);
    --accent-100: hsl(254, 49%, 10%);
    --accent-200: hsl(252, 47%, 20%);
    --accent-300: hsl(253, 48%, 30%);
    --accent-400: hsl(253, 48%, 40%);
    --accent-500: hsl(253, 48%, 50%);
    --accent-600: hsl(253, 48%, 60%);
    --accent-700: hsl(253, 48%, 70%);
    --accent-800: hsl(252, 47%, 80%);
    --accent-900: hsl(254, 49%, 90%);
    --accent-950: hsl(255, 46%, 95%);

  }
}
